<div class="contenedor">
  <div class="resultados">

      <span><b>Jugador 1:</b></span>
      <div class="resultado">  {{contador1}}</div>

      <span><b>Jugador 2:</b></span>
      <div class="resultado">  {{contador2}}</div>
    
  </div>
  
  <div style="text-align: center" >
    <button mat-raised-button color="primary" 
    (click)="presion(0,0)" 
    class="casilla">
    {{posiciones[0][0]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(0,1)" 
    class="casilla">
    {{posiciones[0][1]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(0,2)" 
    class="casilla">
    {{posiciones[0][2]}}
  </button>
  
    <br>
    <button mat-raised-button color="primary" 
    (click)="presion(1,0)" 
    class="casilla">
    {{posiciones[1][0]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(1,1)" 
    class="casilla">
    {{posiciones[1][1]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(1,2)" 
    class="casilla">
    {{posiciones[1][2]}}
  </button>
  
    <br>
    <button mat-raised-button color="primary" 
    (click)="presion(2,0)" 
    class="casilla">
    {{posiciones[2][0]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(2,1)" 
    class="casilla">
    {{posiciones[2][1]}}
  </button>
  
    <button mat-raised-button color="primary" 
    (click)="presion(2,2)" 
    class="casilla">
    {{posiciones[2][2]}}
  </button>
  
  </div>
  <div style="text-align: center">
<h2>{{mensaje}} </h2>
  
    <button mat-button color="primary" (click)="nuevoJuego()">Reiniciar</button>
  </div>
</div>