.casilla {
  height: 25vh;
  width: 25vh;
  margin: 1% 2%;
  font-size: 9vh;
  background-color: white;
  color: black;
}

.contenedor {
  padding: 2%;
}
.resultados {
  display: flex;
  justify-content: space-between;
}
.resultado {
  border: 2px solid black;
  width: 20%;
  padding: 1%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
h2{
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}